html {
  margin-top: 0;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}

body {
  font-family: helvetica;
}

button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.admin-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

.catalog-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

.catalog-entry-meta {
  width: 200px;
  margin-right: 30px;
  margin-left: 30px;
  overflow-x: scroll;
  white-space: nowrap;
}

.catalog-entry-meta-label {
  width: 100px;
}

.catalog-entry-meta-index {
  width: 100px;
}

.catalog-entry-meta-type {
  width: 100px;
}

.catalog-entry-edit {
  padding: 10px;
}

.hidden {
  display: none;
}

.confirmation-mask {
  position: fixed;
  line-height: 90vh;
  font-size: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  color: black;
  text-align: center;
  font-family: Helvetica;
}

.confirmation-modal {
  position: absolute;
  padding: 5px;
  z-index: 9990;
  width: 400px;
  height: 140px;
  top: 15%;
  left: 25%;
  background: white;
  line-height: normal;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #5d5d5d;
}

.permissions-container {
  width: 300px;
  border-radius: 0.4rem;
  border: 1px solid #5d5d5d;
  margin: 0 auto;
  padding: 0 10px;
}

.permissions-container h4 {
  text-align: center;
  margin: 10px 0;
}

.add-permission-container {
  width: wrap-content;
  text-align: center;
}

.permissions-list {
  list-style-type: none;
  max-height: 300px;
  overflow-y: scroll;
}

.main-list {
  list-style-type: none;
}

.list-entry-open {
  border-radius: 0.4rem;
  border: 1px solid #5d5d5d;
}

.catalog-edit {
  padding: 10px;
}

.catalog-permission-entry-container {
  width: 220px;
  height: 25px;
}

.catalog-permission-entry-container p {
  display: inline-block;
  float: left;
  margin: 0;
  max-width: 180px;
  overflow-x: scroll;
}
.catalog-permission-entry-container button {
  display: inline-block;
  float: right;
  margin: 0;
}

.error-message {
  color: red;
}

/** Catalog Edit Modal */
.edit-modal {
  position: absolute;
  padding: 5px;
  z-index: 9990;
  width: 400px;
  height: auto;
  padding-bottom: 10px;
  top: 15%;
  left: 25%;
  background: white;
  line-height: normal;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #5d5d5d;
}

.edit-modal h2 {
  text-align: center;
}

.catalog-edit-metadata {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: auto;
}

.catalog-edit-metadata-left-align {
  display: inline-block;
}

.catalog-edit-metadata-right-align {
  display: inline-block;
  margin: 0;
  float: right;
  max-width: 177px;
}

.nowrap {
  white-space: nowrap;
  overflow-x: scroll;
}

.wrap {
  max-width: 200px;
  overflow-wrap: break-word;
}

.button-container {
  margin-top: 15px;
  width: wrap-content;
  text-align: center;
}

.removable-list-item {
  display: inline-block;
}

.admin-header {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.admin-header h1 {
  display: inline-block;
}

.logo-img {
  display: inline-block;
  height: 30px;
  margin-right: 20px;
}
