progress.txt

__pycache__/
logs/
!.gitkeep
node_modules/
bower_components/
fdds/simulations/
fdds/uploads
fdds/downloads/
fdds/conf.json
package-lock.json
etc/conf.json
*.gz
*.swp
tmp
.DS_Store
.idea
# remove the following lines when productionize the project
.env
notes.txt
server/
venv/
deployment.MD
python/clientServer/client_secret.json
python/instance/
python/api/instance/
python/uploadQueueService/queue/
cert.pem
key.pem
unzip_sims.sh

