!.gitkeep

progress.txt
deployment.MD

.env
notes.txt
cert.pem
key.pem
*.gz
*.swp
.DS_Store
.idea

logs/
downloads/
uploads
simulations/
queue/
conf.json
instance/

venv/
__pycache__/
node_modules/
bower_components/
package-lock.json
client_secret.json

