progress.txt

logs/*
!.gitkeep
node_modules/
bower_components/
fdds/simulations/
fdds/admin_uploads/
fdds/uploads/
fdds/uploads
fdds/admin_uploads
fdds/external_uploads/
fdds/external_uploads
fdds/conf.json
src/__pycache__/*
package-lock.json
etc/conf.json
*.gz
*.swp
tmp
.DS_Store
.idea
# remove the following lines when productionize the project
.env
notes.txt
server/
venv/
api/venv/
api/user_feedback.db
api/__pycache__/
api/instance
api/api_key.py
api/user.db
deployment.MD
python/clientServer/logs/*
python/clientServer/logs
python/clientServer/client_secret.json
*/__pycache__/*
python/clientServer/routes/admin/__pycache__/*
python/clientServer/routes/admin/__pycache__/
python/clientServer/logging/__pycache__/
python/clientServer/logging/__pycache__/*
python/clientServer/routes/validators/__pycache__/*
python/clientServer/validators/__pycache__/*
python/clientServer/validators/__pycache__/
python/clientServer/serializers/__pycache__/*
python/clientServer/services/__pycache__/*
python/clientServer/models/__pycache__/*
python/clientServer/__pycache__/*
python/instance/
python/api/__pycache__/*
python/simulationWorker/__pycache__/
python/simulationWorker/__pycache__/*
python/__pycache__/*
python/api/instance/
python/clientServer/routes/__pycache__/*
python/api/__pycache__/*
python/api/routes/__pycache__/*
python/api/models/__pycache__/*

unzip_sims.sh

