<script>
  document.body.style.overflow = "auto";
</script>

<div class="ui horizontal green tiered menu">
  <div class="menu">
    <a class="item" href="#/view1">
      Maps
    </a>
    <a class="active item" href="#/view2">
      System status <span class="ui green label">OK</span>
    </a>
    <a class="item" href="#/view3">
      What's this?
    </a>
    <a class="item" href="#/view4">
      Contact us
    </a>
    <div class="right borderless item">UC Denver Fire Danger Mapping</div>
  </div>
</div>

