
<script>
  document.body.style.overflow = "hidden";
</script>

<div id="map-fd">

<button id="catalog-button" class="ui labeled icon button" onclick="open_catalog();">
  <i class="database icon"></i>
  <span>Catalog</span>
</button>

<div id="select-dialog" title="Select simulation ...">
  <div id="catalog-content"></div>
</div>

<div id="time-slider"></div>

<div id="time-valid" class="ui big label"></div>

<img id="raster-colorbar"/>

<button id="play-control-button" class="ui labeled icon button" onclick="toggle_play();">
  <i class="play icon"></i>
  <span>Play</span>
</button>

</div>

<script src="js/leaflet.js"></script>
<script src="js/leaflet.groupedlayercontrol.min.js"></script>
<script src="js/leaflet-sidebar.min.js"></script>
<script src="js/partial1.js" type="text/javascript"></script>
