<script>
  document.body.style.overflow = "auto";
</script> 

<div class="ui horizontal green tiered menu">
  <div class="menu">
    <a class="item" href="#/view1">
      Maps
    </a>
    <a class="item" href="#/view2">
      System status <span class="ui green label">OK</span>
    </a>
    <a class="item" href="#/view3">
      What's this?
    </a>
    <a class="active item" href="#/view4">
      Contact us
    </a>
    <div class="right borderless item">CU Denver Fire Danger Mapping</div>
  </div>
</div>


<div class="ui segment wt-text">

  <h2>About</h2>
  <p> This fire danger forecasting system was built by the Wildland Fire Group
  at the Department of Mathematical and Statistical Sciences at the University
  of Colorado Denver. </p>

  <h2>People</h2>

  <h3>Sher Schranz</h3>
  <p>Sher Schranz is the PI of the project. She is a NOAA affiliate and also the Associate Director of the 
     Colorado State University Cooperative Institute for Research in the Atmosphere (recipient of the NASA ROSES grant).
     Sher leads the development of the FX Net platform which will be ultimately used to disseminate the fire spread
     forecasts.</p>


  <h3>Jan Mandel</h3>
  <p>Jan Mandel is a Full Professor at the University of Colorado in Denver and the team
     leader of the Wildland Fire Group.  His main focus in the project is the
     development of the <a href="http://www.openwfm.org">WRF-SFIRE</a> code and data
     assimilation of satellite fire observations to guide fire spread forecasting.</p>

  <h3>Adam Krzysztof Kochanski</h3>
  <p>Adam K. Kochanski is an Associate Professor in the Department of Atmospheric Sciences 
     at the University of Utah.  His main focus in the project is developing and contributing
     know-how on how to use WRF-SFIRE to forecast fires accurately.</p>

  <h3>Martin Vejmelka</h3>
  <p>Martin Vejmelka is a Researcher at the Institute of Computer Science at the Czech Academy
     of Sciences.  His main focus in the project is the development of data assimilation algorithms,
     recently to assimilate ground fuel moisture observations into a fuel moisture model and
     to build infrastructure to automatically harness the power of WRF-SFIRE and serve the results over
     the web.</p>


  <h2>Acknowledgments</h2>
  <p>Funding from NASA ROSES A.35 11-FIRES11 phase I is gratefully acknowledged.</p>

  <p><a target="_blank" href="mailto:vejmelkam@gmail.com">Contact us</a></p>

</div>
