.catalog-menu {
    position:absolute;
    padding: 5px;
    z-index:9000;
    width: 600px;
    height: 440px;
    top: 15%;
    background:#f2f2f2;
    border-radius: 4px;
    line-height: normal;
    cursor: auto;
}

.menu-title {
    display: flex;
    padding: 8px;
    border-radius: 4px;
    flex-direction: row;
    align-items:center;
    background:#f7af39;
    justify-content: space-between;
    line-height: 20px;
    cursor: move;
}

.menu-title h3 {
    margin: 0px;
    color: #ffffff;
    font-size: 1rem;
}

.menu-title input {
    display: inline-block;
    border-radius: 4px;
    border: none;
    height: 20px;
}

.menu-title span {
    display: inline-block;
    color: #f7af39;
    background: #f2f2f2;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.menu-search {
    font-size: 1rem;
    width: 100%;
}

#menu-close:hover {
    cursor: pointer;
}

.menu-columns {
    height: 330px;
    padding: 5px;
    margin-top:5px;
    font-size:1rem;
    overflow-y:auto;
}

.column-header-mobile {
    display: none;
    margin: 0px;
    font-size: 1rem;
}

.search-header {
    display: block;
    margin-top: 7px;
    margin-left: 4px;
}

.search-header-block {
    display: inline-block;
    font-size: 1rem;
    margin-left: 3px;
    width: 30%;
    overflow: hidden;
}

#mobile-selector {
    display: none;
    width: 45%;
    font-size: 1rem;
}

.selector {
    width: 100%;
    font-size: 1rem;
}

.column-header-mobile input {
    display: inline-block;
    width: 45%;
    font-size: 1rem;
}

.menu-columns h3 {
    margin: 0px;
}

.column {
    width: 180px;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.catalog-list {
    padding: 0px;
    word-wrap: break-word;
    cursor: pointer;
}

@media (max-width: 769px) {
    .catalog-menu {
        width: 300px;
        top: 85px;
    }

    .column-header {
        display: none;
    }

    .column-header-mobile {
        display: block;
    }

    #mobile-selector {
        display: inline-block;
    }

    .menu-title h3 {
        margin-bottom: 3px;
    }

    .column {
        width: 250px;
    }

    #fuel-moisture-column {
        display: none;
    }

    #satellite-column {
        display: none;
    }
}
