.catalog-menu {
    position:absolute;
    padding: 5px;
    z-index:100;
    width: 600px;
    height: 400px;
    top: 140px;
    left: 340px;
    background:#f2f2f2;
    font-family: helvetica;
    border-radius: 4px;
}
.menu-title {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background:#f7af39;
}
.menu-title h3 {
    margin-bottom: 0px;
    color: #ffffff;
}
.menu-columns {
    width: 100%;
    height: 350px;
    padding: 5px;
    font-size:1rem;
    overflow-y:auto;
}
.column {
    width: 180px;
    display: inline-block;
    vertical-align: top;
}
.column a {
    color: black;
}
li.catalog-entry {
    list-style-type: none;
    padding: 0px;
}
li.catalog-entry:hover {
    background-color: #fdfd96;
}
.catalog-list {
    padding: 0px;
    word-wrap: break-word;
    cursor: pointer;
}