li.catalog-entry {
    list-style-type: none;
    padding: 0px;
}

li.catalog-entry:hover {
    background-color: #fdfd96;
}
h3 { 
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}
p {
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}