.catalog-button {
    height: 40px;
    position: fixed;
    left: 20px;
    top: 20px;
    display: grid;
    grid-template-columns: 40px 90px;
    place-items: center;
    font-size: 1.15rem;
    font-weight: bold;
    color: #5d5d5d;
}

#catalog-menu-icon-container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    background:#d6d6d6;
    border-radius: .4rem 0 0 .4rem;
}

.catalog-button:hover #catalog-menu-icon {
    opacity: 100%;
}

@media (max-width: 769px) {
    .catalog-button > div:nth-child(2) {
        visibility: hidden;
    }

    .catalog-button {
        width: 40px;
    }

    #catalog-menu-icon-container {
        border-radius: .4rem;
        background:#e8e8e8;
    }
}