#catalog-button {
    position: fixed;
    display: inline-block;
    height: 40px;
    left: 20px;
    top: 20px;
    z-index: 8000;
    background:#e8e8e8;
    padding: 0;
    border: none;
    border-radius: .4rem;
    font-size: 1.15rem;
    text-align: center;
}

#catalog-button:hover { 
    background: #ececec;
    cursor: pointer;
}

#catalog-button:hover #menu-button-icon-container {
    background: #dadada;
}

#menu-button-icon-container {
    display: inline-block;
    background:#d6d6d6;
    border-radius: .4rem 0 0 .4rem;
    height: 40px;
    width: 40px;
}

#menu-button-icon-container img {
    position: relative;
    opacity: .5;
    top: 7px;
}

#menu-label {
    display: inline-block;
    position: relative;
    margin: auto 15px;
    font-weight: bold;
    color: #5d5d5d;
    top: 2px;
}

@media (max-width: 769px) {
    #menu-label {
        display: none;
    }

    #menu-button-icon-container {
        border-radius: .4rem;
        background:#e8e8e8;
    }
}