/* app css stylesheet */

/* ====== Table of Contents ======
        - Body block
        - ColorbarPanel block
        - CatalogMenu block
        - CatalogItems block
        - InfoPanel block
        - DomainSelector block
        - LayerController block
        - MultiLayerController
        - TimeSeriesButton block
        - TimeSeriesMarker block
        - TimeSeriesChart block
        - SimulationController block
        - Slider block 

  mobile style follows the form: component-mobile, for example: CatalogMenu-mobile
*/

/* ===== Body block ===== */
html, body {
  height: 100vh;
}

h4 {
  margin: 0;
}

.feature-controller {
  background:#e8e8e8;
  color: #5d5d5d;
  border: none;
  border-radius: .4rem;
  z-index: 8000;
}

.mobile-button {
  display: none;
  position: fixed;
  padding: 0 5px 0 5px;
  line-height: 40px;
  font-size: 1.15rem;
  text-align: center;
  color: #5d5d5d;
  height: 40px;
  left: 140px;
  top: 20px;
}

.svgIcon {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
}

.splash {
  position: fixed;
  line-height: 90vh;
  font-size: 1rem;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  color: black;
  text-align: center;
  font-family: Helvetica;
}

.leaflet-popup-tip-container {
  display: none;
  width: 0px;
  height: 0px;
  border: 0px;
}

.hidden {
  display: none;
  z-index: -10;
}

.round-border {
  border-radius: 4px;
}

.clicked {
  display: block;
}

.interactive-button {
  opacity: 50%;
  cursor: pointer;
}

.interactive-button:hover {
  opacity: 100%;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .6s ease-in forwards;
}

#map-fd {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body.waiting * {cursor: wait !important;}

body.grabbing * {cursor: grabbing !important;}

#map-domains {
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}

#map-patch-springs {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div.control-column {
  background: #eef7f7;
  height: 600px;
}

.ui.segment.wt-text {
  min-width: 800px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100vh;
}

#copyLink {
  position: fixed;
  padding: 10px;
  top: 145px;
  left: 20px;
  font-size: 1rem;
  font-weight: bold;
}

#copyLink:hover {
  background: #ececec;
  cursor: pointer;
}

#simulation-flags {
  position: fixed; 
  top:15px; 
  z-index:1000;
}

.displayTest {
  display: block;
  color: #555555;
  position: relative;
  margin-top: 5px;
  width: 400px;
  left: 250px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fdfd96;
  font-size: 125%;
  font-weight: bold;
  border-radius: 5px;
}

#current-sim-label {
  background-color: #c3fffb;
}

.mq-logo-control {
	display: none;
}

.leaflet-top {
  margin-top: 215px !important;
  z-index: 5000 !important;
}

.leaflet-left {
  margin-left: 10px !important;
}

/* ===== ColorbarPanel Block ===== */
#colorbar-tab {
  padding: 10px;
  position: absolute;
  z-index: 5000;
  width: 100px;
  left: -38px;
  bottom: 200px;
  border-radius: .4rem .4rem 0 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  transform: rotate(90deg);
  cursor: pointer;
}

.colorbar-bg {
  position: fixed;
  padding: 5px;
  z-index: 1999;
  left: 60px;
  bottom: 103px;
  width: 150px;
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: .4rem;
  font-size: 1.2rem;
}

#raster-colorbar {
  position: relative;
  bottom: 50px;
  width: 200px;
  height: 400px;
  z-index: 2000;
}

#colorbar-opacity {
  position: relative;
  top: 100px;
}

#colorbar-opacity-done {
  position: relative;
  top: 10px;
  left: 50px;
}

#colorbar-opacity-label {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  left: 18px;
}

/* ===== CatalogMenu block ===== */
/* button Style */
.catalog-button {
  height: 40px;
  position: fixed;
  left: 20px;
  top: 20px;
  display: grid;
  grid-template-columns: 40px 90px;
  place-items: center;
  font-size: 1.15rem;
  font-weight: bold;
  color: #5d5d5d;
}

#catalog-menu-icon-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background:#d6d6d6;
  border-radius: .4rem 0 0 .4rem;
}

.catalog-button:hover #catalog-menu-icon {
  opacity: 100%;
}

/* Menu Style */
.catalog-menu {
  position:absolute;
  padding: 5px;
  z-index: 9990;
  width: 600px;
  height: 440px;
  top: 15%;
  background:#f2f2f2;
  line-height: normal;
  font-size: 1rem;
}

.menu-title {
  display: flex;
  padding: 8px;
  background:#f7af39;
  color: #ffffff;
  font-weight: bold;
  cursor: grab;
}

#menu-close {
  position: absolute;
  right: 15px;
  color: #f7af39;
  background: #f2f2f2;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.menu-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
  padding: 5px;
  margin-top:5px;
  overflow-y:auto;
}

.search-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 7px;
}

#mobile-selector {
  display: none;
}

.column-header {
  font-weight: bold;
  font-size: 1.15rem;
}

.column {
  width: 180px;
}

.catalog-list {
  padding: 0px;
  word-wrap: break-word;
  cursor: pointer;
}

/* ===== CatalogItems block ===== */
.catalog-entry {
  list-style-type: none;
  margin-bottom: 10px;
}

.catalog-entry:hover {
  background-color: #fdfd96;
}

.catalog-entry h3 {
  margin: 0px;
  font-size: 1rem;
}

.catalog-entry a {
  color: black !important;
  text-decoration: none;
}

.catalog-entry a:hover {
  text-decoration: underline;
}

/* ===== InfoPanel block ===== */
.close-panel {
  position: absolute;
  top: 3px;
  right: 15px;
  height: 10px;
  width: 10px;
  font-size: 1rem; 
}

.section-break {
  width: 100%; 
  height: 1px; 
  background: #5d5d5d;
}

#copyLink {
  z-index: 7000;
}

#infoButton {
  position: absolute;
  top: 20px;
  left: 180px;
  height: 40px;
  background: transparent;
}

#infoPanel {
  display: none;
  padding: 5px 20px 15px 20px;
  position: absolute;
  margin: auto;
  height: 600px;
  background: white;
  width: 600px;
  z-index: 9990;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  font-size: 1rem;
  border: 1px solid #5d5d5d;
  scrollbar-width: none;
}

#infoPanel h2 {
  text-align: center;
}

#infoPanel.hovered {
  display: block;
}

#infoPanel.clicked { 
  display: block;
}

#infoSectionContainer {
  position: relative;
}

.expand-collapse {
  position: absolute;
  opacity: 50%;
  top: 0px; right: 10px;
}

.hover {
  opacity: 100%;
}

.infoSectionHeader:hover {
  cursor: pointer;
}

/* ===== DomainSelector block ===== */
#domain-selector {
  position: fixed;
  left: 20px;
  top: 70px;
  padding: 7px;
  font-weight: bold;
  line-height: 12px;
  font-size: 1rem;
}

#domain-selector-label {
  padding: 10px 0px;
  text-align: center;
}

#domain-checkboxes {
  height: 20px;
  padding: 0px 5px;
}

.domain-checkbox {
  display: inline-block;
}

.domain-checkbox input {
  cursor: pointer;
}

.domain-checkbox label {
  margin-left: 10px;
  margin-right: 20px;
}

/* ===== LayerController ===== */
#layer-controller-container {
    position: absolute;
    right: 0px;
    /* top: 30px; */
    width: 300px;
    max-height: 100%;
    background: white;
    font-size: 1.15rem;
    padding: 8px;
    overflow-y: auto;
}

#layer-controller-wrapper {
  position: absolute;
  right: 20px;
  top: 5%;
  height: 85%;
  width: 316px;
}


#layer-controller-container.multi-layer {
  z-index: 9000;
  /* border-radius: 0px 4px 4px 4px; */
}

#layers-button {
    left: 70px;
}

.layer-list {
    margin-left: 50px;
}

/* ====== MultiLayerController ====== */
#added-simulations {
  position: absolute;
  width: 400px;
  height: 30px;
  right: 131px;
  top: 200px;
  z-index: 9000;
  transform: rotate(-90deg);
}

.tab {
  /* display: inline-block; */
  margin-right: 0px;
  float: right;
  width: 80px;
  background: #d6d6d6;
  color: #5d5d5d;
  border-radius: 4px 4px 0px 0px;
  padding: 0px 10px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tab.active {
  background: #e8e8e8;
}

.tab .interactive-button {
  opacity: 75%;
}

.tab .interactive-button:hover {
  opacity: 100%;
}

.tab.active .interactive-button {
  opacity: 100%;
  cursor: grab;
}

.innerTab {
  margin: auto;
}

#add-simulation.tab {
  width: 60px;
}


/* ===== TimeSeriesButton block ===== */ 
.timeSeriesButton {
  border-radius: .2rem;
  padding: 5px;
  margin-bottom: 5px;
  background: #b6e2f0;
  text-align: center;
  color: #6a6a6a;
  font-weight: bold;
  width: 100%;
  border: none;
}

.timeSeriesButton:disabled {
  background:#d6d6d6;
}

.timeSeriesButton:hover:not([disabled]) {
  cursor: pointer;
  background: #e5e5e5;
}

.timeseries-select {
  display: inline-block;
  width: 55%;
  margin-bottom: 2px;
}

.timeseries-select-label {
  display: inline-block;
  width: 40%;
}

/* ===== TimeSeriesMarker block ===== */
.hideMenu {
  position: absolute;
  top: 3px;
  left: 20px;
}

/* ===== TimeSeriesChart block ===== */
#fullContainer {
  z-index: 9000;
  position: absolute;
  width: 580px;
  height: 560px;
  left: 330px;
  right: 0;
  top: 5px;
  bottom: 0;
}

#timeSeriesChartContainer {
  position: absolute;
  display: block;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 85px;
  left: 0;
  top: 5px;
  bottom: 0;
  height: 550px;
  width: 560px;
  background: white;
  border-radius: .4rem;
  border: 1px solid #5d5d5d;
  cursor: pointer;
}

#drag-container {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 15px;
  cursor: grab;
  margin-right: 5px;
}

#undo-zoom {
  position: absolute;
  top: 8px;
  left: 40px;
}

.layerCheckbox {
  margin-left: 15px;
  margin-top: 5px;
  font-size: 1rem;
}

.popout-layer-box {
  border-top: 1px solid #5d5d5d;
  border-left: 1px solid #5d5d5d;
  background: #e8e8e8;
}

#addLayers{
  padding: 10px;
  position: absolute;
  z-index: 9001;
  width: 100px;
  top:130px;
  left: -80px;
  border-right: 1px solid #5d5d5d;
  border-radius: .4rem .4rem 0 0;
  text-align: center;
  font-weight: bold;
  transform: rotate(-90deg);
}

#layers-to-add {
  position: absolute;
  z-index: 9000;
  width: 250px;
  left: -251px;
  height: 400px;
  top: 39px;
  border-bottom: 1px solid #5d5d5d;
  border-radius: .4rem 0 0 .4rem;
}

#zoomBox {
  position: fixed; 
  display:none; 
  height: 0px; 
  width: 0px; 
  background-color: #b6e2f0;
  opacity: 50%;
  border-radius: .2rem;
  border: 1px solid #b6e2f0;
}

#legendOptions {
  position: absolute;
  padding: 10px;
  top: 80px;
  left: 200px;
  width: 220px;
  background: #e8e8e8;
  border-radius: .2rem;
  border: 1px solid darkgray;
}

.legendItem {
  display: inline-block;
  width: 100px;
}

.legendInput {
  width: 150px;
  margin-right: 10px;
}

.legendSelect {
  width: 160px;
  margin-right: 10px;
}

#timeSeriesChartContainer button {
  background-color: transparent;
  border: none;
}

#timeSeriesChart {
  margin-left:10px;
  cursor: pointer;
}

#add-threshold {
  margin-top: 10px;
}

/* ===== SimulationController ===== */
.slider-wrapper {
  position: fixed;
  left: 20px;
  bottom: 10px;
  z-index: 8000;
}

.slider-container {
  width: 360px;
  border-radius: 4px;
  background:#e8e8e8;
  padding: 6px;
  font-size: 1.15rem;
}

#slider-tabs {
  position: absolute;
  top:-30px;
  left: 7px;
  width: 356px;
  height: 30px;
  overflow-y: hidden;
  overflow-x: auto;
}

#slider-tabs .tab {
  float: left;
  /* background: white; */
}

/* #slider-tabs .tab.active {
  background:#d6d6d6;
} */

#slider-header {
  display: block;
  height: 30px;
  width: 100%;
}

#slider-play-bar {
  display: inline-block;
}

#slider-timestamp {
  display: inline-block;
  height: 30px;
}

#timestamp {
  font-weight: bold;
  color: #5d5d5d;
}

.slider-button {
  display: inline-block;
  background:#d6d6d6;
  border: none;
  padding: 2px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.slider-button:hover {
  background: #e5e5e5;
}

.slider-icon {
  opacity: 50%;
}

.disabled-button {
  opacity: 50%;
  cursor: grab;
}

.disabled-button:hover {
  background:#d6d6d6;
}

/* ====== Slider block ====== */
.slider {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slider.simulation-slider {
  width: 340px;
}

.slider.opacity-slider {
  width: 284px;
}

.slider-bar {
  height: 11px;
  background: #e8e8e8;
  border-style: solid;
  border-radius: 4px;
  border-width: .5px;
  border-color: #cccccc;
  cursor: pointer;
}

.slider-bar.simulation-slider {
  background: #d6d6d6;
}

.slider-head {
  position: absolute;
  bottom: 3px; left: 0; right: 0;
  height: 15px;
  width: 15px;
  background: #f6f6f6;
  border-style: solid; 
  border-radius: 4px;
  border-width: .5px;
  border-color: #dddddd;
  cursor: grab;
  z-index: 3000;
}

.slider-head:hover {
  border-color: black;
}

.slider-bar {
  height: 11px;
  background: #e8e8e8;
  border-style: solid;
  border-radius: 4px;
  border-width: .5px;
  border-color: #cccccc;
  cursor: pointer;
}

#slider-progress {
  position:absolute;
  margin: auto 0;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 1%;
  background: #f8f8f8;
  border-style: solid;
  pointer-events: none;
}

#slider-marker-info {
  position: absolute;
  margin: 0 auto;
  top: 20px; bottom: 0; left: 0; right: 0;
  background: white;
  width: 160px;
  height: 20px;
  border-radius: .4rem;
  display: none;
  font-weight: bold;
  font-size: 1rem; 
  padding: 5px 5px 8px 10px;
}

#slider-marker-info.hovered { 
  display: block;
}

#slider-marker-info.clicked {
  display: block;
}

.slider-marker {
  position: absolute;
  margin: auto 0;
  top: 0; bottom: 0; left: 0; right: 0;
  background: #5d5d5d;
  width: 4px;
  height: 11px;
  border-radius: 4px;
}

#slider-end {
  left: 340px;
}

#progressBar {
  border-radius: .2rem;
  margin-top: 5px;
  background: black;
  height: 10px;
  width: 100%;
  border: none;
}

@media (max-width: 769px) {
  /* ===== Body-mobile block ===== */
  .displayTest {
    left: 20px;
    top: 50px;
    width: 300px;
  }

  .leaflet-bottom .leaflet-control-scale {
    margin-bottom: 70px !important;
  }

  .leaflet-top {
    margin-top: 10px !important;
  }

  .leaflet-left {
    margin-left: 303px !important;
  }

  .mobile-button {
    display: block;
  }

  /* ===== ColorbarPanel-mobile block ===== */
  #raster-colorbar {
    height: 160px;
    width: 80px;
    bottom: 20px;
  }

  #raster-colorbar-bg {
    height: 140px;
    width: 80px;
    bottom: 135px;
    left: 55px;
  }

  #colorbar-opacity {
    top: 30px;
    font-size: .6rem;
  }

  #colorbar-opacity-label {
    font-size: .6rem;
    font-weight: bold;
    left: 5px;
  }

  #colorbar-opacity-done {
    font-size: .6rem;
    left: 25px;
  }

  /* ===== CatalogMenu-mobile block ===== */
  /* button style */
  .catalog-button > div:nth-child(2) {
    visibility: hidden;
  }

  .catalog-button {
    width: 40px;
  }

  #catalog-menu-icon-container {
    border-radius: .4rem;
    background:#e8e8e8;
  }

  /* menu style */
  .catalog-menu {
    width: 300px;
    top: 85px;
  }

  .search-header {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }

  .menu-columns {
    grid-template-columns: 1fr;
  }

  .column-header {
    display: none;
  }

  #mobile-selector {
    display: inline-block;
    height: 30px;
  }

  .column {
    width: 250px;
  }

  /* ===== LayerController-mobile block ===== */
  #layer-controller-container {
    height: 440px;
    top: 85px;
    right: 30px;
  }

  /* ===== InfoPanel-mobile block ===== */
  #infoPanel {
    width: 300px;
    height: 600px;
}

  #infoButton {
    left: 230px;
  }

  /* ===== SimulationController-mobile block ===== */
  .slider-container {
    width: 320px;
  }

  #slider-timestamp {
    display: flex;
    justify-content: space-around;
  }

  #slider-play-bar {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
  }

  #slider-header {
    height:60px;
  }

  .slider-container button:hover:not([disabled]) {
    background: #d6d6d6;
  }

  /* ===== Slider-mobile block ===== */
  .slider.simulation-slider {
    left: 10px;
    width: 300px;
  }
  
  /* ====== TimeSeriesChart-mobile ====== */
  #timeSeriesChartContainer {
    padding: 20px;
    padding-left: 10px;
    width: 300px;
    height: 430px;
    overflow-y: auto;
    margin: auto;
  }

  #fullContainer {
    left: 5px;
  }

  #addLayers{
    left: 10px;
    top: 8px;
    transform: rotate(0deg);
  }

  #legendOptions {
    top: 80px;
    left: 50px;
  }

  #layers-to-add {
    border-right: 1px solid #5d5d5d;
    border-radius: .4rem;
    width: 250px;
    left: 0px;
    top: 46px;
  }

  #drag-container {
    display: none;
  }

  #timeSeriesChart {
    margin-left: 0px;
  }
}
