/* app css stylesheet */

html {
  margin-top:0;
  height: 100%;
  overflow-y: hidden;
}

.body {
  font-family: helvetica;
}

#hideMenu {
    position: absolute;
    top: 3px;
    left: 5px;
}

.feature-controller {
    background:#e8e8e8;
    color: #5d5d5d;
    border: none;
    border-radius: .4rem;
    z-index: 8000;
}

.mobile-button {
  display: none;
  position: fixed;
  padding: 0 5px 0 5px;
  line-height: 40px;
  font-size: 1.15rem;
  text-align: center;
  color: #5d5d5d;
  height: 40px;
  left: 140px;
  top: 20px;
}

.svgIcon {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
}

.splash {
  position: fixed;
  line-height: 90vh;
  font-size: 1rem;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  color: black;
  text-align: center;
  font-family: Helvetica;
}

.leaflet-popup-tip-container {
  display: none;
  width: 0px;
  height: 0px;
  border: 0px;
}

.hidden {
  display: none;
  z-index: -10;
}

.round-border {
  border-radius: 4px;
}

.clicked {
  display: block;
}

.interactive-button {
  opacity: 50%;
  cursor: pointer;
}

.interactive-button:hover {
  opacity: 100%;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

#map-fd {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body.waiting * {cursor: wait !important;}

body.grabbing * {cursor: grabbing !important;}

#map-domains {
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}

#map-patch-springs {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div.control-column {
  background: #eef7f7;
  height: 600px;
}

.ui.segment.wt-text {
  min-width: 800px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100vh;
}

#raster-colorbar {
  position: fixed;
  left: 60px;
  bottom: 100px;
  width: 200px;
  height: 400px;
  z-index: 2000;
  display: none;
}

#copyLink {
  position: fixed;
  z-index: 2000;
  background:#e8e8e8;
  color: #555555;
  padding: 10px;
  top: 155px;
  left: 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  display: none;
}

#copyLink:hover {
  background: #ececec;
  cursor: pointer;
}

.displayTest {
  display: block;
  color: #555555;
  position: relative;
  margin-top: 5px;
  width: 400px;
  left: 250px;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 1000;
  background-color: #fdfd96;
  font-family: helvetica;
  font-size: 125%;
  font-weight: bold;
  border-radius: 5px;
}

#current-sim-label {
  background-color: #c3fffb;
}

.mq-logo-control {
	display: none;
}

.leaflet-top {
  margin-top: 215px !important;
  z-index: 5000 !important;
}

.leaflet-left {
  margin-left: 10px !important;
}

/* catalogMenu css */
/* Button Style */
.catalog-button {
  height: 40px;
  position: fixed;
  left: 20px;
  top: 20px;
  display: grid;
  grid-template-columns: 40px 90px;
  place-items: center;
  font-size: 1.15rem;
  font-weight: bold;
  color: #5d5d5d;
}

#catalog-menu-icon-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background:#d6d6d6;
  border-radius: .4rem 0 0 .4rem;
}

.catalog-button:hover #catalog-menu-icon {
  opacity: 100%;
}

/* Menu Style */
.catalog-menu {
  position:absolute;
  padding: 5px;
  z-index:9000;
  width: 600px;
  height: 440px;
  top: 15%;
  background:#f2f2f2;
  line-height: normal;
  font-size: 1rem;
}

.menu-title {
  display: flex;
  padding: 8px;
  background:#f7af39;
  color: #ffffff;
  font-weight: bold;
  cursor: grab;
}

#menu-close {
  position: absolute;
  right: 15px;
  color: #f7af39;
  background: #f2f2f2;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.menu-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
  padding: 5px;
  margin-top:5px;
  overflow-y:auto;
}

.search-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 7px;
}

#mobile-selector {
  display: none;
}

.column-header {
  font-weight: bold;
  font-size: 1.15rem;
}

.column {
  width: 180px;
}

.catalog-list {
  padding: 0px;
  word-wrap: break-word;
  cursor: pointer;
}

@media (max-width: 769px) {
  .displayTest {
    left: 20px;
    top: 50px;
    width: 300px;
  }

  .leaflet-bottom .leaflet-control-scale {
    margin-bottom: 70px !important;
  }

  .leaflet-top {
    margin-top: 10px !important;
  }

  .leaflet-left {
    margin-left: 303px !important;
  }

  #raster-colorbar {
    height: 160px;
    width: 80px;
    bottom: 120px;
    left: 40px;
  }

  .mobile-button {
    display: block;
  }

  /* catalogMenu style */
  /* button style */
  .catalog-button > div:nth-child(2) {
      visibility: hidden;
  }

  .catalog-button {
      width: 40px;
  }

  #catalog-menu-icon-container {
      border-radius: .4rem;
      background:#e8e8e8;
  }

  /* menu style */
  .catalog-menu {
      width: 300px;
      top: 85px;
  }

  .search-header {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 10px;
  }

  .menu-columns {
      grid-template-columns: 1fr;
  }

  .column-header {
      display: none;
  }

  #mobile-selector {
      display: inline-block;
      height: 30px;
  }

  .column {
      width: 250px;
  }
}
