#infoPanelContainer {
    position: fixed;
    display: inline-block;
    z-index: 8000;
    top: 20px;
    left: 180px;
}

#infoButton {
    display: block;
    height: 40px;
    background: transparent;
    border: none;
    opacity: 50%;
}

#infoButton:hover {
    cursor: pointer;
    opacity: 100%;
}

#infoPanel {
    display: none;
    padding: 5px 20px 15px 20px;
    position: absolute;
    margin: auto;
    height: 600px;
    width: 600px;
    z-index: 9999;
    background: white;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    font-size: 1rem;
    border-radius: .4rem;
    border: 1px solid #5d5d5d;
}

#infoPanel h2 {
    text-align: center;
}

#infoPanel.hovered {
    display: block;
}

#infoPanel.clicked { 
    display: block;
}

#closeInfoPanel {
    color: gray;
    position: absolute;
    top: 3px;
    right: 15px;
    height: 10px;
    width: 10px;
    font-size: 1rem;
}

#infoSectionContainer {
    position: relative;
}

.expand-collapse {
    position: absolute;
    opacity: 50%;
    top: 0px; right: 10px;
}

.expand-collapse:hover {
    opacity: 100%;
}

.infoSectionHeader:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#closeInfoPanel:hover {
    cursor: pointer;
}

@media (max-width: 769px) {
    #infoPanel {
        width: 300px;
        height: 600px;
    }

    #infoPanelContainer {
        left: 230px;
    }
}