#layer-controller-container {
    position: absolute;
    display: none;
    right: 20px;
    top: 5%;
    z-index: 5000;
    width: 300px;
    max-height: 85%;
    background: white;
    border: none;
    border-radius: .4rem;
    font-size: 1.15rem;
    text-align: center;
    color: #5d5d5d;
    padding: 8px;
    overflow-y: auto;
}

.timeSeriesButton {
    border-radius: .2rem;
    padding: 5px;
    background: #d6d6d6;
    text-align: center;
    color: #6a6a6a;
    font-weight: bold;
}

.timeSeriesButton:hover {
    cursor: pointer;
    background: #e5e5e5;
}

.layer-group {
    display: block;
    width: 100%;
    text-align: left;
}

.layer-group span {
    display: inline-block;
    font-weight: bold;
}

.layer-list {
    margin-left: 50px;
}


@media (max-width: 769px) {
    #layer-controller-container {
        width: 300px;
        height: 440px;
        top: 85px;
        right: 30px;
        overflow-y: auto;
    }
}